
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <section class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="display-5 font-weight-bold mb-5">Latest Projects</h2>
                </div>
            </div>
            <div class="row">
                {% for project in projects %}
                    <div class="col-md-6 col-xl-4">
                        <div class="image-box image-box--shadowed white-bg style-2 mb-4">
                            <div class="overlay-container">
                                <img src="{{ project.image.url }}" alt="">
                                <a href="#" class="overlay-link"></a>
                            </div>
                            <div class="body">
                                <h5 class="font-weight-bold my-2">
                                    {{ project.title }}
                                </h5>
                                <p class="small">{{ project.created_at }}</p>
                                <div class="row d-flex align-items-center">
                                    <div class="col-6">
                                        <ul class="social-links small circle">
                                            <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a>
                                            </li>
                                            <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-6 text-right">
                                        <a href="#" class="btn radius-50 btn-gray-transparent btn-animated">Read More <i
                                                class="fa fa-arrow-right"></i></a>
                                    </div>
                                    <form action="{% url 'delete_project' project.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="submit" value="Delete">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
                </div>


            {#                <div class="col-md-6 col-xl-4">#}
            {#                    <div class="image-box image-box--shadowed white-bg style-2 mb-4">#}
            {#                        <div class="overlay-container">#}
            {#                            <img src="https://www.bootdey.com/image/400x150/1E90FF/000000" alt="">#}
            {#                            <a href="#" class="overlay-link"></a>#}
            {#                        </div>#}
            {#                        <div class="body">#}
            {#                            <h5 class="font-weight-bold my-2">Project Title</h5>#}
            {#                            <p class="small">December 10, 2017</p>#}
            {#                            <div class="row d-flex align-items-center">#}
            {#                                <div class="col-6">#}
            {#                                    <ul class="social-links small circle">#}
            {#                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>#}
            {#                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>#}
            {#                                        <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
            {#                                        <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>#}
            {#                                    </ul>#}
            {#                                </div>#}
            {#                                <div class="col-6 text-right">#}
            {#                                    <a href="#" class="btn radius-50 btn-gray-transparent btn-animated">Read More <i#}
            {#                                            class="fa fa-arrow-right"></i></a>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="col-md-6 col-xl-4">#}
            {#                    <div class="image-box image-box--shadowed white-bg style-2 mb-4">#}
            {#                        <div class="overlay-container">#}
            {#                            <img src="https://www.bootdey.com/image/400x150/FF8C00/000000" alt="">#}
            {#                            <a href="#" class="overlay-link"></a>#}
            {#                        </div>#}
            {#                        <div class="body">#}
            {#                            <h5 class="font-weight-bold my-2">Project Title</h5>#}
            {#                            <p class="small">December 10, 2017</p>#}
            {#                            <div class="row d-flex align-items-center">#}
            {#                                <div class="col-6">#}
            {#                                    <ul class="social-links small circle">#}
            {#                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>#}
            {#                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>#}
            {#                                        <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
            {#                                        <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>#}
            {#                                    </ul>#}
            {#                                </div>#}
            {#                                <div class="col-6 text-right">#}
            {#                                    <a href="#" class="btn radius-50 btn-gray-transparent btn-animated">Read More <i#}
            {#                                            class="fa fa-arrow-right"></i></a>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="col-md-6 col-xl-4">#}
            {#                    <div class="image-box image-box--shadowed white-bg style-2 mb-4">#}
            {#                        <div class="overlay-container">#}
            {#                            <img src="https://www.bootdey.com/image/400x150/9932CC/000000" alt="">#}
            {#                            <a href="#" class="overlay-link"></a>#}
            {#                        </div>#}
            {#                        <div class="body">#}
            {#                            <h5 class="font-weight-bold my-2">Project Title</h5>#}
            {#                            <p class="small">December 10, 2017</p>#}
            {#                            <div class="row d-flex align-items-center">#}
            {#                                <div class="col-6">#}
            {#                                    <ul class="social-links small circle">#}
            {#                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>#}
            {#                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>#}
            {#                                        <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
            {#                                        <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>#}
            {#                                    </ul>#}
            {#                                </div>#}
            {#                                <div class="col-6 text-right">#}
            {#                                    <a href="#" class="btn radius-50 btn-gray-transparent btn-animated">Read More <i#}
            {#                                            class="fa fa-arrow-right"></i></a>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="col-md-6 col-xl-4">#}
            {#                    <div class="image-box image-box--shadowed white-bg style-2 mb-4">#}
            {#                        <div class="overlay-container">#}
            {#                            <img src="https://www.bootdey.com/image/400x150/008B8B/000000" alt="">#}
            {#                            <a href="#" class="overlay-link"></a>#}
            {#                        </div>#}
            {#                        <div class="body">#}
            {#                            <h5 class="font-weight-bold my-2">Project Title</h5>#}
            {#                            <p class="small">December 10, 2017</p>#}
            {#                            <div class="row d-flex align-items-center">#}
            {#                                <div class="col-6">#}
            {#                                    <ul class="social-links small circle">#}
            {#                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>#}
            {#                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>#}
            {#                                        <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
            {#                                        <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>#}
            {#                                    </ul>#}
            {#                                </div>#}
            {#                                <div class="col-6 text-right">#}
            {#                                    <a href="#" class="btn radius-50 btn-gray-transparent btn-animated">Read More <i#}
            {#                                            class="fa fa-arrow-right"></i></a>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="col-md-6 col-xl-4">#}
            {#                    <div class="image-box image-box--shadowed white-bg style-2 mb-4">#}
            {#                        <div class="overlay-container">#}
            {#                            <img src="https://www.bootdey.com/image/400x150/6495ED/000000" alt="">#}
            {#                            <a href="#" class="overlay-link"></a>#}
            {#                        </div>#}
            {#                        <div class="body">#}
            {#                            <h5 class="font-weight-bold my-2">Project Title</h5>#}
            {#                            <p class="small">December 10, 2017</p>#}
            {#                            <div class="row d-flex align-items-center">#}
            {#                                <div class="col-6">#}
            {#                                    <ul class="social-links small circle">#}
            {#                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>#}
            {#                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>#}
            {#                                        <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
            {#                                        <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>#}
            {#                                    </ul>#}
            {#                                </div>#}
            {#                                <div class="col-6 text-right">#}
            {#                                    <a href="#" class="btn radius-50 btn-gray-transparent btn-animated">Read More <i#}
            {#                                            class="fa fa-arrow-right"></i></a>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
        </div>
    </section>
</div>
</body>
</html>